<div class-="container">
  <div class="banner">
    <div class="container banner-container">
      <div class="banner-text-section">
        <h1>Rent Board Games locally</h1>
      <div class="banner-text">
        <p>Play with your friends without needing to buy a new board game every time</p>
        </div>
        <div class="horizontal-form">
          <!-- <form action="" method="get">
            <div class="game-search">
              <div class="search-element">
                <label class="search-label"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>Your City</label>
                <input class="search-input" type="text" autocomplete="on" placeholder="Where do you want to rent a board game?" name="query">
              </div>
                <a type="submit" class="search-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></a>
            </div>
          </form> -->
        <%= form_tag games_path, method: :get, class: "game-search" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "search-input",
              placeholder: "Find a game"
          %>
          <%= button_tag(class: "search-button") do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="banner-img">
        <img src="https://images.unsplash.com/photo-1606503153255-59d8b8b82176?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJvYXJkJTIwZ2FtZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="image of puzzle">
      </div>
    </div>
  </div>

<div class="container">
  <div class="info-box">
    <div class="info-image">
      <img src="https://images.unsplash.com/photo-1610890716171-6b1bb98ffd09?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
    </div>
    <div class="info-text">
      <h3 class="info-header">Find board games in your area</h3>
      <p class="info-description">See what games other board game fans are willing to share with your group and make out a specific date.</p>
      <%= link_to "Browse Games", games_path, class: "nav-item nav-btn" %>
    </div>
  </div>
  <div class="info-box">
    <div class="info-text">
      <h3 class="info-header">Share your favorite games with others</h3>
      <p class="info-description">Rent out the board games you’re currently not using to others and provide them with an awesome game night!</p>
      <%= link_to "Share a Game", games_path, class: "nav-item nav-btn" %>
    </div>
    <div class="info-image">
      <img src="https://images.unsplash.com/photo-1611891487122-207579d67d98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
    </div>
  </div>
</div>

<div class="container categories">
  <div class="category-title">
    <h2>Popular Categories</h2>
  </div>
  <div class="category-cards">
    <div class="category-card">
      <img class ="category-img" src="https://images.unsplash.com/photo-1606503153255-59d8b8b82176?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJvYXJkJTIwZ2FtZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
      <div class="category-description">
        <h3>Strategy</h3>
      </div>
    </div>
    <div class="category-card">
      <img class ="category-img" src="https://cdn.shopify.com/s/files/1/0469/1034/1283/articles/christopher-paul-high-y7qq9irgpoa-unsplash.jpg" alt="">
      <div class="category-description">
        <h3>Co-op</h3>
      </div>
    </div>
    <div class="category-card">
      <img class ="category-img" src="https://www.boardgamequest.com/wp-content/uploads/2017/03/Kingsport-Festive-Card-Game-Header.jpg" alt="">
      <div class="category-description">
        <h3>Cards</h3>
      </div>
    </div>
    <div class="category-card">
      <img class ="category-img" src="https://cdn.24.co.za/files/Cms/General/d/7700/50bf1ae94e214d7b9e24ccb62544da9c.jpg" alt="">
      <div class="category-description">
        <h3>Kids</h3>
      </div>
    </div>
  </div>
</div>


