<!-- <div class="container"> -->
<div class="cards">
  <% @games.each do |game| %>
  <% if game.rentals.empty? %>
    <%= link_to game_path(game) do %>
        <div class="card-container">
          <% if game.photo.attached? %>
            <%= cl_image_tag game.photo.key %>
            <div class="card-info">
              <h1 class="card-name"><%= game.name %></h1>
              <div class="card-index-info">
                <p class="card-index-players"><i class="fas fa-user-friends"></i> <%= game.min_players %> - <%= game.max_players %></p>
                <p class="card-index-location"><i class="fas fa-flag"></i> <%= game.location %></p>

              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
  <% end %>
</div>
<!-- </div> -->
