<div class="centerform">
  <h3 class="ml15">
    <span class="word orangeshadow">SHARE</span>
    <span class="word greenshadow">YOUR</span>
    <span class="word pinkshadow">BOARDGAME!</span>
  </h3>


  <div class="form-container">
  <%= simple_form_for(@game) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div class= "inline">
        <%= f.input :name, label: "Name", placeholder: "e.g. 'Jumanji'", input_html: { class: "inputfield border-orange" } %>
        <%= f.input :category, style: 'display: inline;', prompt: "- Select genre -", collection: Game::CATEGORY, input_html: { class: 'inputfield border-lime' } %>
        <%= f.input :min_players, label: "min", placeholder: "2", input_html: { class: 'inputfield playercount border-pink' } %>
        <%= f.input :max_players, label: "max", placeholder: "5", input_html: { class: 'inputfield playercount border-blue' } %>
      </div>
        <%= f.input :description, placeholder: "Describe the game", input_html: { class: 'inputfield desciption border-lime' } %>
      <div class="inline">
        <%= f.input :price, label: "Price per day", placeholder: "You decide!", input_html: { class: 'inputfield border-orange' } %>
      <%= f.input :location, placeholder: "Where are you?", input_html: { class: 'inputfield border-blue' } %>

      <label class="upload-button">
      img
      <span style="display:none;">
        <%= f.input :photo, as: :file %>
      </span>
    </label>
      </div>

    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "button-create" %>
    </div>
  <% end %>
  </div>
</div>
