<div class="card-container">
  <div class="card-image">
    <%= link_to image_tag('https://b3h2.scene7.com/is/image/BedBathandBeyond/77169645928338p?$690$&wid=690&hei=690') %>
  </div>
  <div class="card-game-info">
    <strong>Name:</strong>
    <%= @game.name %>
    <%= @game.description %>
    <%= @game.category %>
    <%= @game.min_players %> '-' <%= @game.max_players %>
    <%= 'Availability:' %> <% @game.rented %>
    <%= 'Price:' %> <%= @game.price %>
  </div>


</div>

<%# "name"
    "description"
    "type"
    "min_players"
    "max_players"
    "rented"
    "price" %>
