<div class="cards">
  <div class="card-container">
    <img src="https://source.unsplash.com/random/">
    <div class="card-game-info">
        <h1><%= @game.name %></h1>
        <p class="card-description"><%= @game.description %></p>
      <div class="card-details">
        <div class="card-category-players">
          <p><strong>Category: </strong>
          <%= @game.category %></p>
          <p><strong>Players: </strong>  
          <%= @game.min_players %> - <%= @game.max_players %></p>
        </div>
        <div class="card-avail-price">
        <%# availability if rented true then availability: date available %>
          <p><strong>Availability: </strong>
          <% @game.rented %>
          <div>
            <p><strong>Price: €</strong><%= @game.price %></p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'rent', new_user_session_path, :class => "btn btn-warning" %>
  </div>
</div>
 <%= link_to 'back to games', games_path, :class => "btn btn-warning" %>


<%# <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div> %>